<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>The Joke Store</h1>
    <form action="/submit" method="post">
        <label for="joke">Choose a type of joke</label>
        <select name="joke" id="joke">
            <option value="Any">Any</option>
            <option value="Programming">Programming</option>
            <option value="misc">Misc</option>
            <option value="Dark">Dark</option>
            <option value="Pun">Pun</option>
            <option value="Spooky">Spooky</option>
            <option value="Christmas">Christmas</option>
        </select>
        <input type="submit" value="Get">
    </form>
    <% if(locals.msg1){%>
        <p> <%= msg1 %> </p>
        <p> <%= msg2 %></p>
    <%} %>
</body>
</html>